$black:#292929;
$white: #ffffff;
$blue: #0063a1;
$light-blue: #01abde;
$red: red;
$grey: #e6e6e6;
$resolution: 1920;

@function vw($px) {
  @return (($px/$resolution) * 100)+vw;
}

@mixin for-xxl {
  @media (max-width: 1805px) { @content; }
}
@mixin for-xl {
    @media (min-width: 1024px) and (max-width: 1470px) { @content; }
  }

@mixin for-lg {
    @media (max-width: 1200px) { @content; }
  }
  @mixin for-lit-desktop {
    @media (max-width: 1050px) { @content; }
  }
  @mixin for-md-desktop{
    @media (min-width: 1025px) { @content; }
  }
  @mixin for-md {
    @media (max-width: 1024px) { @content; }
  }
  @mixin for-lit-md {
    @media (max-width: 850px) { @content; }
  }
  @mixin for-sm {
    @media (max-width: 768px) { @content; }
  }
  @mixin for-tiny-tablet {
    @media (max-width: 650px) { @content; }
  }
  @mixin for-md-mob{
    @media (max-width: 550px) { @content; }
  }
  @mixin for-tiny-mob {
    @media (max-width: 500px) { @content; }
  }

  @mixin for-min-mob {
    @media (min-width: 650px) { @content; }
  }
  @mixin for-lit-mob {
    @media (max-width: 360px) { @content; }
    }