@import "_vars";
@import "_libs";
@import "_fonts";


*{
    margin: 0;
    padding: 0;
    outline: none !important;
    color: $black;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    line-height: 27px;
    
}
a{
   cursor: pointer;
   text-decoration: none;
   color: $black;
}
ul{
    list-style: none;
}
button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .main{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
 }
 footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
.nav-toggle {
    display: none; 
    position: relative;
    margin-left: auto;
    background: transparent;
    border: 1px solid transparent;
    z-index: 5;
    @include for-md{
        display: block;
    }
}
.nav-toggle:focus {outline-width: 0;}
.nav-toggle [class*='bar-'] {background-color: $blue; display: block;-webkit-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .2s ease all;transition: .2s ease all;height: 3px;width: 17px;margin-bottom: 2px;}
.nav-toggle .bar-bot {margin-bottom: 0;}
.opened .bar-top {background-color: $blue; -webkit-transform: rotate(45deg);transform: rotate(45deg);-webkit-transform-origin: 0% 50%;transform-origin: 0% 50%;}
.opened .bar-mid {opacity: 0;}
.opened .bar-bot {background-color: $blue; -webkit-transform: rotate(45deg);transform: rotate(-45deg);-webkit-transform-origin: 15% 95%;transform-origin: 15% 95%;}
.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include for-md(){
        overflow-x: hidden;
    }
}
.container{
    position: relative;
    max-width: 1817px;
    margin: 0 auto;
    padding: 0 15px;
    &--flex{
        display: flex;
    }
    &--align-center{
        align-items: center;
    }
    &--space-between{
        justify-content: space-between;
    }
    &--flex-wrap{
        flex-wrap: wrap;
    }
}
.header{
    padding: 40px 0 11px;
    @include for-md{
        padding-top: 10px;
    }
    &__logo{
        @include for-xl{
            display: block;
            max-width: 130px;
            flex-shrink: 0;
        }
        @include for-lit-md{
            max-width: 110px;
        }
        img{
            @include for-xl{
                display: block;
                width: 100%;
                flex-shrink: 0;
            }
            @include for-lit-md{
                display: block;
                width: 100%;
                flex-shrink: 0;
            }
        }
    }
    &__menu{
        margin-left: 114px;
        @include for-xxl{
            margin-left: 30px;
        }
        @include for-md{
            display: none;
            position: absolute;
            padding: 10px;
            margin-left: 0;
            width: 100%;
            right: -10px;
            top: 105%;
            background-color: $white;
            border-top: 3px solid $blue;
            border-radius: 10px;
            z-index: 2;
        }
        ul{
            a{
                @include for-xl{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            @include for-md{
                margin-bottom: 20px !important;
                flex-direction: column !important;
                align-items: center !important;
            }
        }
        li + li{
            @include for-md{
                margin-left: 0 !important;
            }
        }
        
    }
    &__call-block{
        margin-left: auto;
        margin-top: -31px;
        @include for-md{
            display: flex;
            flex-direction: column;
            margin-top: 0;
        }
        
    }
}
.menu{
    
    ul{
        display: flex;
        align-items: center;
        
    }
    li + li{
        margin-left: 55px;
        @include for-xxl{
            margin-left: 20px;
        }
        @include for-xl{
            margin-left: 12px;
        }
        
    }
    a{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        transition: .3s;
        &:hover{
            color: $blue;
        }
    }
}
.number{
    font-size: 24px;
    line-height: 27px;
    text-align: right;
    font-weight: 700;
    &:hover{
        text-decoration: underline;
    }
    &--blue{
        color: $blue;
    }
    &--white{
        color: $white;
    }
}
.call-block{
    @include for-md{
        display: none;
    }
    &__number{
        display: block;
        margin-bottom: 26px;
        @include for-xl{
            margin-bottom: 10px;
        }
    }
    &__button{
        @include for-xl{
            margin-left: 10px;
            padding: 10px !important;
            font-size: 16px !important;
        }
    }
    &--adaptive{
        display: none;
        @include for-md{
            display: flex;
        }
        .call-block__number{
            @include for-md{
                text-align: center;
            }
        }
    }
}
.button{
    padding: 19px;
    border-radius: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    transition: .3s;
    &--blue{
        background-color: $blue;
        color: $white;
        &:hover{
            border-color: $blue;
            color: $blue;
            background-color: $white;
        }
    }
    &--white{
        background-color: $white;
        color: $blue;
        &:hover{
            border-color: $white;
            color: $white;
            background-color: $blue;
        }
    }
}
.footer{
    padding: 70px 0 140px;
    background-color: $blue;
    @include for-md{
        padding-bottom: 100px;
    }
    .container{
        @include for-md{
            flex-direction: column;
        }
    }
    &__logo{
        @include for-xl{
            display: block;
            max-width: 130px;
            flex-shrink: 0;
        }
        @include for-lit-md{
            max-width: 155px;
        }
        img{
            @include for-xl{
                display: block;
                width: 100%;
                flex-shrink: 0;
            }
            @include for-lit-md{
                display: block;
                width: 100%;
                flex-shrink: 0;
            }
        }
    }
    &__number{
        margin-left: 200px;
        font-size: 48px;
        @include for-xl{
            margin-left: 0;
        }
        @include for-md{
            margin-top: 75px;
            margin-left: 0;
            font-size: 40px;
        }
    }
    &__button{
        padding: 29px 27px;
        font-size: 28.7px;
        @include for-md{
            padding: 29px 17px;
            margin-top: 68px;
            width: 100%;
        }
    }
    &__menu{
        margin: 81px auto 0;
        @include for-md{
            margin-top: 75px;
        }
        a{
            color: $white;
            &:hover{
                color: $white;
            }
        }
        li + li{
            margin-left: 61px;
            @include for-xxl{
                margin-left: 40px;
            }
            @include for-md{
                margin-left: 0;
                margin-top: 20px;
            }
        }
        ul{
            a{
                @include for-xl{
                    font-size: 18px;
                    line-height: 18px;
                }
            }
            @include for-md{
                flex-direction: column;
            }
        }
    }
}
.stock{
    &__item{
        display: flex;
        align-items: center;
    }
    &__img-container{
        display: block;
        width: 50%;
        height: 481px;
    }
    &__img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__text-container{
        padding: 95px 0 176px 71px;
        width: 50%;
        min-height: 481px;
        box-sizing: border-box;
        background-color: $blue;
    }
    &__title{
        display: inline-block;
        position: relative;
        padding-bottom: 30px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 56px;
        line-height: 60px;
        color: $white;
        letter-spacing: 1.4px;
        &::after{
            content: "";
            position: absolute;
            height: 9px;
            width: calc(252px);
            background-color: $white;
            left: 0;
            bottom: 0;
            transition: .4s;
        }
        &:hover::after{
            width: calc(100%);
        }
    }
    &__text{
        margin-top: 54px;
        font-weight: 600;
        font-size: 28px;
        line-height: 30px;
        color: $white;
        letter-spacing: 0.7px;
    }
    .swiper-button-next{
        &::after{
            position: absolute;
            width: 34px;
            height: 55px;
            font-size: 0;
            background-image: url(../images/slider-buttons/next.png);
            background-size: cover;
            background-repeat: no-repeat;
            right: 52px;
        }
    }
    .swiper-button-prev{
        &::after{
            position: absolute;
            width: 34px;
            height: 55px;
            font-size: 0;
            background-image: url(../images/slider-buttons/prev.png);
            background-size: cover;
            background-repeat: no-repeat;
            left: 52px;
        }
    }
}
.description{
    padding: 96px 240px 29px;
    &__row{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    &__container{
        position: relative;
        width: 33.3333333%;
        box-sizing: border-box;
        margin-bottom: 89px;
    }
    &__img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 122px;
        width: 100%;
        margin-bottom: 21px;
    }
    &__img{
        display: block;
        margin: 0 auto;
    }
    &__text{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
}
.title{
    font-weight: 700;
    font-size: 64px;
    line-height: 67px;
    letter-spacing: 1.6px;
}
.services{
    padding: 0 100px 129px;
    &__title{
        text-align: center;
    }
    
    &__swiper{
        position: relative;
        margin-top: 69px;
    }
    .swiper-button-next{
        right: -53px;
        top: 103px;
        &::after{
            position: absolute;
            width: 34px;
            height: 55px;
            font-size: 0;
            background-image: url(../images/slider-buttons/next-blue.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .swiper-button-prev{
        left: -53px;
        top: 103px;
        &::after{
            position: absolute;
            width: 34px;
            height: 55px;
            font-size: 0;
            background-image: url(../images/slider-buttons/prev-blue.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
.services-item{
    &__img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 202px;
        height: 202px;
        margin: 0 auto 18px;
        box-sizing: border-box;
        border: 4px solid transparent;
        border-radius: 50%;
        background-color: $light-blue;
        transition: .3s;
        &:hover{
            border-color: $blue;
        }
    }
    &__text{
        display: block;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.6px;
        transition: .3s;
        &:hover{
            color: $blue;
        }
    }
}
.doctors{
    padding: 0 185px 100px;
    &__title{
        text-align: center;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin-top: 72px;
        margin-right: -70px;
    }
    
    &__container{
        width: 20%;
        box-sizing: border-box;
        padding-right: 70px;
        margin-bottom: 20px;
    }
    
}
.doctor-item{
    &__img-container{
        display: block;
        height: 318px;
        width: 223px;
        margin: 0 auto;
    }
    &__img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: fill;
        background-color: #e5e5e5;
    }
    &__name{
        display: block;
        margin-top: 12px;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.7px;
        text-align: center;
        transition: .3s;
        &:hover{
            color: $blue;
            .doctor-item__name-big-font{
               color: $blue; 
            }
            
        }
    }
    &__name-big-font{
        font-size: 28px;
        transition: .3s;
    }
    &__text{
        margin-top: 14px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-align: center;
    }
}
.reviews{
    padding: 0 0 246px;
    &__swiper{
        position: relative;
    }
    &__title{
        text-align: center;
    }
    &__slide{
        text-align: center;
    }
    &__text{
        margin: 85px auto 0;
        padding: 0 435px;
        text-align: center;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.7px;
    }
    &__name{
        display: block;
        margin-top: 65px;
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.7px;
    }
    &__date{
        display: block;
        margin-top: 37px;
    }
    .swiper-button-next{
        right: 122px;
        top: 59%;
        &::after{
            position: absolute;
            width: 34px;
            height: 63px;
            font-size: 0;
            background-image: url(../images/slider-buttons/next-thin.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .swiper-button-prev{
        left: 122px;
        top: 59%;
        &::after{
            position: absolute;
            width: 34px;
            height: 63px;
            font-size: 0;
            background-image: url(../images/slider-buttons/prev-thin.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}