@import "_vars";
@import "_libs";
@import "_fonts";


*{
    margin: 0;
    padding: 0;
    outline: none !important;
    color: $black;
}
html{
    height: 100%;
}
h1{
    margin: 0;
}
body{
    height: 100%;
    font-family: 'Gilroy', sans-serif;
    font-size: vw(24);
    line-height: vw(27);
    
}
a{
   cursor: pointer;
   text-decoration: none;
   color: $black;
}
ul{
    list-style: none;
}
button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .main{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
 }
 footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
.nav-toggle {
    display: none; 
    position: relative;
    margin-left: auto;
    background: transparent;
    border: 1px solid transparent;
    z-index: 5;
    @include for-md{
        display: block;
    }
}
.nav-toggle:focus {outline-width: 0;}
.nav-toggle [class*='bar-'] {background-color: $blue; display: block;-webkit-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .2s ease all;transition: .2s ease all;height: 3px;width: 17px;margin-bottom: 2px;}
.nav-toggle .bar-bot {margin-bottom: 0;}
.opened .bar-top {background-color: $blue; -webkit-transform: rotate(45deg);transform: rotate(45deg);-webkit-transform-origin: 0% 50%;transform-origin: 0% 50%;}
.opened .bar-mid {opacity: 0;}
.opened .bar-bot {background-color: $blue; -webkit-transform: rotate(45deg);transform: rotate(-45deg);-webkit-transform-origin: 15% 95%;transform-origin: 15% 95%;}

 /* global */
 .g-hidden { display: none; }
 .g-line { zoom: 1; }
 .g-line:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 
 /* modal */
 .b-modal { position: relative; margin:0 auto; width:100%; max-width:1000px;}
 
 
 /* modal */
 .arcticmodal-overlay,
 .arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 11000; }
 .arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
 *:first-child+html .arcticmodal-container { height: 100% }
 .arcticmodal-container_i { height: 100%; margin: 0 auto; width:100%; }
 .arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle;
     @include for-tiny-tablet(){
         padding: 10px;
     }
  }
 .arcticmodal-error { padding: 20px;  border-radius: 10px; background: #000; color: #fff; }
 

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    
}
.container{
    position: relative;
    max-width: 1817px;
    margin: 0 auto;
    padding: 0 15px;
    &--flex{
        display: flex;
    }
    &--align-center{
        align-items: center;
    }
    &--space-between{
        justify-content: space-between;
    }
    &--flex-wrap{
        flex-wrap: wrap;
    }
    &--mini-p{
        @include for-tiny-tablet{
            padding: 0 8px;
        }
    }
}
.header{
    padding: vw(40) 0 vw(11);
    @include for-md{
        padding-top: 10px;
    }
    &__logo{
        // @include for-xl{
        //     display: block;
        //     max-width: 130px;
        //     flex-shrink: 0;
        // }
        @include for-md{
           width: auto;
        }
        
        img{
            display: block;
            width: 100%;
            flex-shrink: 0;
        }
    }
    &__menu{
        margin-left: vw(114);
        // @include for-xxl{
        //     margin-left: 30px;
        //     width: 100%;
        //     margin-right: 30px;
        // }
        @include for-md{
            display: none;
            position: absolute;
            box-sizing: border-box;
            padding: 10px;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            left: 0;
            top: 105%;
            background-color: $white;
            border-top: 3px solid $blue;
            border-radius: 10px;
            z-index: 2;
        }
        ul{
            
            @include for-xxl{
                justify-content: space-between;
            }
            @include for-md{
                margin-bottom: 20px !important;
                flex-direction: column !important;
                align-items: center !important;
            }
        }
        li + li{
            @include for-md{
                margin-left: 0 !important;
            }
        }
        
    }
    &__call-block{
        margin-left: auto;
        margin-top: vw(-31);
        @include for-xxl{
            max-width: 248px;
            width: 100%;
        }
        @include for-xl{
            max-width: 200px;
        }
        @include for-md{
            display: flex;
            flex-direction: column;
            margin-top: 0;
            max-width: 100%;
            
        }
        
    }
}
.logo{
    width: vw(213);
    height: vw(189);
    @include for-lit-md(){
        height: 97px;
    }
    @include for-md{
        width: auto;
     }
    img{
        display: block;
        height: 100%;
        object-fit: contain;
        object-position: left;
    }
}
.menu{
    
    ul{
        display: flex;
        align-items: center;
        
    }
    li + li{
        margin-left: vw(55);
        // @include for-xxl{
        //     margin-left: 20px;
        // }
        // @include for-xl{
        //     margin-left: 12px;
        // }
        
    }
    a{
        font-weight: 500;
        font-size: vw(20);
        line-height: vw(24);
        transition: .3s;
        @include for-md(){
            font-size: 20px;
            line-height: 24px;
        }
        &:hover{
            color: $blue;
        }
    }
}
.number{
    font-size: vw(24);
    line-height: vw(27);
    text-align: right;
    font-weight: 700;
    &:hover{
        text-decoration: underline;
    }
    &--blue{
        color: $blue;
    }
    &--white{
        color: $white;
    }
    &--big{
        font-size: vw(56);
        line-height: vw(60);
        @include for-md(){
            font-size: 40px;
            line-height: 43px;
        }
        @include for-sm(){
            font-size: 25px;
            line-height: 28px;
        }
        @include for-tiny-tablet(){
            font-size: 20px;
            line-height: 23px;
        }
    }
}
.call-block{
    @include for-md{
        display: none;
    }
    &__number{
        display: block;
        margin-bottom: vw(26);
        // @include for-xl{
        //     margin-bottom: 10px;
        // }
    }
    
    &--adaptive{
        display: none;
        @include for-md{
            display: flex;
        }
        .call-block__number{
            @include for-md{
                text-align: center;
            }
        }
    }
}
.button{
    display: block;
    padding: vw(19);
    border-radius: 10px;
    margin-left: auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-weight: 700;
    font-size: vw(20);
    line-height: vw(22);
    transition: .3s;

    @include for-md(){
        margin-left: 0;
        padding: 19px;
        font-size: 20px;
        line-height: 22px;
        border-radius: 10px;
    }
    &--blue{
        background-color: $blue;
        color: $white;
        &:hover{
            border-color: $blue;
            color: $blue;
            background-color: $white;
        }
    }
    &--white{
        background-color: $white;
        color: $blue;
        &:hover{
            border-color: $white;
            color: $white;
            background-color: $blue;
        }
    }
}
.footer{
    padding: vw(70) 0 vw(140);
    background-color: $blue;
    @include for-md{
        padding-bottom: 100px;
    }
    .container{
        @include for-md{
            flex-direction: column;
        }
    }
    &__logo{
        @include for-xl{
            display: block;
            max-width: 130px;
            
            flex-shrink: 0;
        }
        @include for-lit-md{
            max-width: 155px;
            height: 139px;
        }
        img{
            @include for-xl{
                display: block;
                width: 100%;
                flex-shrink: 0;
            }
            @include for-lit-md{
                display: block;
                width: 100%;
                flex-shrink: 0;
            }
        }
    }
    &__number{
        margin-left: vw(500);
        font-size: vw(48);
        line-height: vw(51);
        // @include for-xl{
        //     margin-left: 0;
        // }
        @include for-md{
            margin-top: 75px;
            margin-left: 0;
            font-size: 40px;
            line-height: 43px;
        }
        @include for-lit-mob{
            font-size: 37px;
            line-height: 40px;
        }
    }
    &__button{
        padding: vw(29) vw(27);
        font-size: vw(28.7);
        @include for-md{
            padding: 29px 17px;
            margin-top: 68px;
            width: 100%;
            font-size: 28.7px;

        }
        @include for-lit-mob{
            font-size: 24.7px;
        }
    }
    &__menu{
        margin: vw(81) auto 0;
        @include for-md{
            margin-top: 75px;
        }
        a{
            color: $white;
            &:hover{
                color: $white;
            }
        }
        li + li{
            margin-left: vw(61);
            // @include for-xxl{
            //     margin-left: 40px;
            // }
            @include for-md{
                margin-left: 0;
                margin-top: 20px;
            }
        }
        ul{
            a{
                @include for-xl{
                    font-size: vw(18);
                    line-height: vw(18);
                }
                @include for-md{
                    font-size: 18px;
                    line-height: 18px;
                }
            }
            @include for-md{
                flex-direction: column;
            }
        }
    }
}
.stock{
    @include for-md{
        padding-top: 18px;
    }
    &__item{
        display: flex;
        @include for-md{
            flex-direction: column;
            min-height: 627px;
        }
    }
    .swiper-slide{
        display: flex;
        height: auto;
    }
    &__img-container{
        display: block;
        width: 50%;
        @include for-md{
            width: 100%;
            height: 300px;
        }
    }
    &__img{
        display: block;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__text-container{
        padding: vw(95) vw(100) vw(70) vw(71);
        width: 50%;
        min-height: vw(481);
        box-sizing: border-box;
        background-color: $blue;
        // @include for-xl{
        //     padding-left: 35px;
        // }
        @include for-md{
            padding-top: 60px;
            padding-bottom: 70px;
            width: 100%;
            height: 100%;
            min-height: 0;
        }
        @include for-tiny-tablet{
            padding: 30px 0 25px 10px;
        }
    }
    &__title{
        display: inline-block;
        position: relative;
        padding-bottom: vw(30);
        font-weight: 900;
        text-transform: uppercase;
        font-size: vw(56);
        line-height: vw(60);
        color: $white;
        letter-spacing: vw(1.4);
        &::after{
            content: "";
            position: absolute;
            height: vw(9);
            width: vw(252);
            background-color: $white;
            left: 0;
            bottom: 0;
            transition: .4s;
            @include for-tiny-tablet{
                width: 147px;
                height: 5px;
            }
        }
        &:hover::after{
            width: calc(100%);
        }
        // @include for-xl{
        //     font-size: 48px;
        //     line-height: 53px;
        // }
        @include for-md{
            width: 100%;
        }
        @include for-tiny-tablet{
            padding-bottom: 12px;
            font-size: 23px;
            line-height: 27px;
        }
        
    }
    &__text{
        margin-top: vw(54);
        font-weight: 600;
        font-size: vw(28);
        line-height: vw(30);
        color: $white;
        letter-spacing: vw(0.7);
        // @include for-xl{
        //     font-size: 20px;
        //     line-height: 24px;
        // }
        @include for-tiny-tablet{
            margin-top: 19px;
            font-size: 17px;
            line-height: 21px;
        }
    }
    .swiper-button-next{
        right: vw(52);
        &::after{
            position: absolute;
            width: vw(34);
            height: vw(55);
            font-size: 0;
            background-image: url(../images/slider-buttons/next.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        // @include for-xl{
        //     top: 75%;
        // }
        @include for-md{
            display: none;
        }
    }
    .swiper-button-prev{
        left: vw(52);
        &::after{
            position: absolute;
            width: vw(34);
            height: vw(55);
            font-size: 0;
            background-image: url(../images/slider-buttons/prev.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        // @include for-xl{
        //     top: 75%;
        // }
        @include for-md{
            display: none;
        }
    }
}
.description{
    padding: vw(96) vw(240) vw(29);
    // @include for-xl{
    //     padding: 70px 100px 15px;
    // }
    @include for-md{
        padding: 70px 0 15px;
    }
    @include for-tiny-tablet{
        padding-top: 31px;
    }
    &__row{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    &__container{
        position: relative;
        width: 33.3333333%;
        box-sizing: border-box;
        margin-bottom: vw(89);
        @include for-md{
            width: 50%;
        }
        @include for-tiny-tablet{
            margin: 0 auto;
            width: 100%;
            padding: 16px 15px 50px;
            border: 4px solid #f0f0f0;
            border-radius: 10px;
            margin-bottom: 15px;
        }
    }
    &__img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: vw(122);
        width: 100%;
        margin-bottom: vw(21);
        @include for-md{
            height: 80px;
            margin-bottom: 15px;
        }
        @include for-tiny-tablet{
            margin-bottom: 17px;
            height: 70px;
        }
    }
    &__img{
        display: block;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
        @include for-tiny-tablet{
            height: 100%;
        }
    }
    &__text{
        font-weight: 700;
        font-size: vw(24);
        line-height: vw(28);
        text-align: center;
        @include for-tiny-tablet{
            height: 100%;
            font-size: 17px;
            line-height: 21px;
            br{
                display: none;
            }
        }
        
    }
    &__list{
        display: none;
        margin-top: vw(22);
        @include for-tiny-tablet{
            display: block;
        }
    }
    &__list-item{
        text-align: center;
        font-size: vw(14);
        line-height: vw(18);
        @include for-md{
            font-size: 14px;
            line-height: 18px;
        }
    }
    &__list-item + &__list-item{
        margin-top: 7px;
    }
}
.title{
    font-weight: 700;
    font-size: vw(64);
    line-height: vw(67);
    letter-spacing: vw(1.6);
    @include for-md{
        font-size: 46px;
        line-height: 52px;
    }
    @include for-tiny-tablet{
        font-size: 24px;
        line-height: 30px;
    }
}
.services{
    padding: 0 vw(100) vw(129);
    @include for-md{
        position: relative;
        overflow: hidden;
        padding: 32px 0 67px;
    }
    &__title{
        text-align: center;
    }
    
    &__swiper{
        position: relative;
        margin-top: vw(69);
        @include for-tiny-tablet{
            margin-top: 23px;
        }
    }
    .swiper-container{
        @include for-tiny-tablet{
            margin-right: -20px;
        }
    }
    .swiper-wrapper{
        @include for-md{
            flex-wrap: wrap;
            transform: none !important;
            margin-right: -20px;
        }
    }
    .swiper-slide{
        @include for-md{
            width: 33.333333% !important;
            margin-right: 0 !important;
            margin-bottom: 26px;
            box-sizing: border-box;
            padding-right: 20px;
        }
    }
    .swiper-button-next{
        right: vw(-53);
        top: 50%;
        transform: translateY(-50%);
        &::after{
            position: absolute;
            width: vw(34);
            height: vw(55);
            font-size: 0;
            background-image: url(../images/slider-buttons/next-blue.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        @include for-md{
            display: none;
        }
    }
    .swiper-button-prev{
        left: vw(-53);
        top: 50%;
        transform: translateY(-50%);
        &::after{
            position: absolute;
            width: vw(34);
            height: vw(55);
            font-size: 0;
            background-image: url(../images/slider-buttons/prev-blue.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        @include for-md{
            display: none;
        }
    }
}
.services-item{
    &__img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(202);
        height: vw(202);
        margin: 0 auto vw(18);
        box-sizing: border-box;
        border: 4px solid transparent;
        border-radius: 50%;
        background-color: $light-blue;
        transition: .3s;
        &:hover{
            border-color: $blue;
        }
        @include for-md{
            width: 120px;
            height: 120px;
        }
        @include for-tiny-tablet{
            width: 65px;
            height: 65px;
            margin-bottom: 8px;
            br{
                display: none;
            }
        }
    }
    &__img{
        height: 60%;
    }
    &__text{
        display: block;
        font-weight: 700;
        font-size: vw(24);
        line-height: vw(28);
        text-align: center;
        letter-spacing: vw(0.6);
        transition: .3s;
        &:hover{
            color: $blue;
        }
        @include for-md{
            font-size: 20px;
            line-height: 24px;
        }
        @include for-tiny-tablet{
            font-size: 13px;
            line-height: 14px;
        }
        @include for-lit-mob{
            font-size: 11px;

        }
    }
}
.doctors{
    padding: 0 vw(185) vw(100);
    @include for-md{
        padding: 0 0 100px;
    }
    @include for-tiny-tablet{
        padding-bottom: 26px;
    }
    &__title{
        text-align: center;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin-top: vw(72);
        margin-right: vw(-70);
        @include for-md{
            margin-top: 36px;
            margin-right: -55px;
        }
        @include for-lit-mob{
            margin-right: -10px;
        }
    }
    
    &__container{
        width: 20%;
        box-sizing: border-box;
        padding-right: vw(70);
        margin-bottom: vw(20);
        @include for-xl{
            width: 33.33333333%;
        }
        @include for-md{
            width: 50%;
            padding-right: 55px;
            margin: 0 auto 20px;
        }
        @include for-lit-mob{
            padding-right: 10px;
        }
    }
    &__invited{
        display: block;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
    }
    
}
.doctor-item{
    &__img-container{
        display: block;
        height: vw(318);
        width: vw(223);
        margin: 0 auto;
        @include for-md{
            height: 280px;
            width: 200px;
        }
        @include for-tiny-tablet{
            height: 202px;
            width: 140px;
        }
        @include for-lit-mob{
            height: 179px;
            width: auto;
        }
    }
    &__img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: fill;
        background-color: #e5e5e5;
    }
    &__name{
        display: block;
        margin-top: vw(12);
        font-weight: 700;
        font-size: vw(24);
        line-height: vw(30);
        letter-spacing: vw(0.7);
        text-align: center;
        transition: .3s;
        &:hover{
            color: $blue;
            .doctor-item__name-big-font{
               color: $blue; 
            }
            
        }
        @include for-md{
           font-size: 18px;
           line-height: 22px;
        }
        @include for-tiny-tablet{
            margin-top: 6px;
            font-size: 16px;
            line-height: 16px;
        }
    }
    &__name-big-font{
        font-size: vw(28);
        line-height: vw(31);
        transition: .3s;
        @include for-md{
            font-size: 24px;
            line-height: 28px;
        }
        @include for-tiny-tablet{
            font-size: 19px;
            line-height: 21px;
        }
    }
    &__text{
        margin-top: vw(14);
        font-size: vw(16);
        line-height: vw(20);
        letter-spacing: vw(0.4);
        text-align: center;
        @include for-tiny-tablet{
            margin-top: 10px;
            font-size: 11px;
            line-height: 13px;
            br{
                display: none;
            }
        }
        @include for-md{
            font-size: 15px;
            line-height: 19px;
        }
    }
}
.reviews{
    padding: 0 0 vw(246);
    @include for-tiny-tablet{
        padding-bottom: 50px;
    }
    &__swiper{
        position: relative;
    }
    &__title{
        text-align: center;
    }
    &__slide{
        text-align: center;
    }
    &__text{
        margin: vw(85) auto 0;
        padding: 0 vw(435);
        text-align: center;
        font-size: vw(28);
        line-height: vw(32);
        letter-spacing: vw(0.7);
        // @include for-xl{
        //     padding: 0 200px;
        // }
        @include for-md{
            padding: 0 50px;
            font-size: 22px;
            line-height: 26px;
        }
        @include for-tiny-tablet{
            padding: 0 30px;
            margin-top: 36px;
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__name{
        display: block;
        margin-top: vw(65);
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: vw(28);
        line-height: vw(32);
        letter-spacing: vw(0.7);
        @include for-md{
            font-size: 24px;
            line-height: 28px;
        }
        @include for-tiny-tablet{
            margin-top: 20px;
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__date{
        display: block;
        margin-top: vw(37);
        @include for-md{
            font-size: 24px;
            line-height: 28px;
        }
        @include for-tiny-tablet{
            margin-top: 5px;
            font-size: 16px;
            line-height: 20px;
        }
    }
    .swiper-button-next{
        right: vw(122);
        top: 59%;
        &::after{
            position: absolute;
            width: vw(34);
            height: vw(63);
            font-size: 0;
            background-image: url(../images/slider-buttons/next-thin.png);
            background-size: cover;
            background-repeat: no-repeat;
            @include for-tiny-tablet{
                width: 14px;
                height: 25px;
            }
        }
        @include for-md{
            top: 50%;
            right: 0;
        }
    }
    .swiper-button-prev{
        left: vw(122);
        top: 59%;
        &::after{
            position: absolute;
            width: vw(34);
            height: vw(63);
            font-size: 0;
            background-image: url(../images/slider-buttons/prev-thin.png);
            background-size: cover;
            background-repeat: no-repeat;
            @include for-tiny-tablet{
                width: 14px;
                height: 25px;
            }
        }
        @include for-md{
            top: 50%;
            left: 0;
        }
    }
}
.breadcrumbs{
    margin-top: vw(30);
    @include for-tiny-tablet{
        margin-top: 13px;
    }
    &__list{
        display: flex;
        align-items: center;
        
    }
    &__link{
        position: relative;
        display: block;
        font-weight: 500;
        font-size: vw(20);
        line-height: vw(23);
        padding-right: vw(37);
        margin-right: vw(26);
        &::after{
            content: "";
            position: absolute;
            width: vw(13);
            height: vw(18);
            background-image: url(../images/breadcrumbs/1.png);
            background-size: cover;
            background-repeat: no-repeat;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            @include for-tiny-tablet{
                width: 7px;
                height: 13px;
                background-size: contain;
                background-position: center;
            }
        }
        &--last{
            color: $light-blue;
        }
        @include for-tiny-tablet{
            padding-right: 20px;
            margin-right: 10px;
            font-size: 13px;
            line-height: 17px;
        }
    }
    &__item:last-child &__link{
        padding-right: 0;
        margin-right: 0;
        &::after{
            display: none;
        }
    }
}
.contacts{
    padding-top: vw(48);
    @include for-md{
        padding-top: 40px;
    }
    @include for-tiny-tablet{
        padding-top: 34px;
    }
    &__title{
        font-weight: 700;
        font-size: vw(48);
        line-height: vw(50);
        color: #141414;
        @include for-md{
            font-size: 38px;
            line-height: 42px;
        }
        @include for-tiny-tablet{
            font-size: 24px;
            line-height: 28px;
        }
    }
    &__subtitle{
        margin-top: vw(100);
        font-size: vw(36);
        line-height: vw(40);
        font-weight: 500;
        text-align: center;
        &--last{
            margin-top: vw(140);
            font-weight: 700;
            @include for-md{
                margin-bottom: 40px;
            }
        }
        @include for-md{
            font-size: 30px;
            line-height: 34px;
        }
        @include for-tiny-tablet{
            margin-top: 30px;
            font-size: 20px;
            line-height: 24px;
        }
        
    }
    &__text{
        margin-top: vw(72);
        font-weight: 500;
        font-size: vw(28);
        line-height: vw(32);
        text-align: center;
        &--blue{
            color: $blue;
        }
        &--mt-big{
            margin-top: vw(65) !important;
            @include for-tiny-tablet{
                margin-top: 35px !important;
            }
        }
        @include for-md{
            font-size: 22px;
            line-height: 36px;
        }
        @include for-tiny-tablet{
            margin-top: 32px;
            font-size: 16px;
            line-height: 21px;
        }
    }
    &__text + &__text{
        margin-top: vw(41);
        @include for-tiny-tablet{
            margin-top: 17px;
        }
    }
}
.map{
    margin-top: vw(105);
    @include for-md{
        display: none;
    }
}
.about{
    padding-left: vw(165);
    padding-top: vw(58);
    
    // @include for-xxl{
    //     padding-left: 50px;
    // }
    @include for-md{
        margin-top: 50px;
        padding: 0 15px;
    }
    @include for-tiny-tablet{
        margin-top: 25px;
        padding: 0 8px;
    }
    &__title{
        position: relative;
        display: block;
        margin-bottom: vw(20);
        padding-bottom: vw(30);
        font-weight: 700;
        font-size: vw(48);
        line-height: vw(52);
        color: $blue;
        &::after{
            content: "";
            position: absolute;
            width: vw(114);
            height: vw(7);
            background-color: $blue;
            bottom: 0;
            left: 0;
            @include for-tiny-tablet{
                width: 19px;
                height: 4px;
            }
        }
        @include for-tiny-tablet{
            margin-bottom: 10px;
            padding-bottom: 5px;
            font-size: 25px;
            line-height: 28px;
        }
    }
    &__img-container{
        margin-left: vw(48);
        flex-shrink: 0;
        @include for-xxl{
            width: 50%;
        }
        @include for-md{
            width: 100%;
            margin-left: 0;
            margin-top: 40px;
        }
    }
    &__img{
        max-width: 100%;
        @include for-xxl{
            display: block;
            width: 100%;
        }
        
        
    }
    p{
        font-size: vw(28);
        line-height: vw(40);
        @include for-md{
            text-align: center;
        }
        @include for-tiny-tablet{
            font-size: 16px;
            line-height: 26px;
        }
        
        
    }

    &__bottom{
        padding: vw(120) 0 vw(200);
        @include for-md(){
            padding: 50px 0 120px;
        }
    }
    &__bottom-desc{
        max-width: vw(1500);
        width: 100%;
        margin: 0 auto vw(90);
        font-size: vw(32);
        line-height: vw(40);
        text-align: center;

        @include for-md(){
            font-size: 25px;
            line-height: 28px;
            margin-bottom: 45px;
        }
        @include for-sm(){
            font-size: 20px;
            line-height: 24px;
        }
        @include for-tiny-tablet(){
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 30px;
        }
    }
    &__helpfull{
        margin-bottom: vw(90);
        @include for-md(){
            margin-bottom: 45px;
        }
    }
}
.helpfull{
    text-align: center;
    &__desc{
        font-size: vw(40);
        line-height: vw(43);
        font-weight: 700;
        color: $blue;
        margin-bottom: vw(40);

        @include for-md(){
            font-size: 30px;
            line-height: 33px;
            margin-bottom: 20px;
        }
        @include for-sm(){
            font-size: 22px;
            line-height: 25px;
        }
        @include for-tiny-tablet(){
            font-size: 17px;
            line-height: 20px;
        }
    }

}
.other-cateroires{
    display: flex;
    justify-content: center;
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid rgb(230, 230, 230);
        border-radius: 30px;
        max-width: 290px;
        width: 100%;
        margin: 0 vw(32);
        box-sizing: border-box;
        padding: vw(78) vw(20) vw(30);
        font-size: vw(24);
        line-height: vw(27);
        color: $light-blue;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
        transition: .3s;

       

        &:hover{
            opacity: .7;
            text-decoration: none;
        }

        @include for-md(){
            margin: 0 5px;
            padding: 20px 10px 20px;
            max-width: calc(33.3% - 10px);
        }

        @include for-sm(){
            font-size: 15px;
            line-height: 18px;
            padding: 20px 10px 10px;
        }
        @include for-tiny-mob(){
            font-size: 11px;
            line-height: 14px;
        }
        
          
    }
    &__image-container{
        height: vw(124);
        margin-bottom: vw(57);
        text-align: center;
        @include for-md(){
            margin-bottom: 20px;
            height: auto;
            height: 100px;
        }
        @include for-sm(){
            height: 50px;
            margin-bottom: 10px;
        }
    }
    &__image{
       display: block;
       width: 100%;
       height: 100%;
       object-fit: contain;
       object-position: center;
        max-width: 100%;
    }
}
.about-container{
        display: flex;
        align-items: center;
        @include for-md{
            flex-direction: column;
        }
        &--mb{
            margin-bottom: vw(23);
        }
        &--text-left{
            padding-left: vw(165);
            // @include for-xl{
            //     padding-left: 100px;
            // }
            @include for-md{
                padding: 0 20px;
            }
            @include for-tiny-tablet{
                padding: 0 8px;
            }
        }
        &--space-between{
            justify-content: space-between;
        }
        &--text-right{
            padding-right: vw(165);
            flex-direction: row-reverse;
            .about__img-container{
                margin-left: 0;
                margin-right: vw(30);
                @include for-md{
                    margin-right: 0;
                }
            }
            // @include for-xl{
            //     padding-right: 100px;
            // }
            @include for-md{
                flex-direction: column;
                padding: 0 20px;
            }
            @include for-tiny-tablet{
                padding: 0 8px;
            }
            
        }
        &--align-start{
            align-items: flex-start;
            @include for-xl{
                align-items: center;
            }
        }
        p{
            text-align: left;
            font-size: vw(28);
            line-height: vw(40);
            @include for-xxl{
                width: 50%;
            }
            // @include for-xl{
            //     font-size: 24px;
            //     line-height: 32px;
            // }
            @include for-md{
                width: 100%;
            }
            @include for-tiny-tablet{
                font-size: 16px;
                line-height: 26px;
            }
        }
        
}
.about-target{
    padding: vw(80) 0 vw(87);
    margin-top: vw(63);
    font-weight: 700;
    font-size: vw(40);
    line-height: vw(44);
    text-align: center;
    background-color: $blue;
    color: $white;
    @include for-xl{
        br{
            display: none;  
        }
    }
    @include for-tiny-tablet{
        padding: 40px 0 30px;
        font-size: 22px;
        line-height: 26px;
    }
}
.about-list{
    padding-left: vw(165);
    padding-top: vw(100);
    @include for-md{
        display: none;
        padding-left: 50px;
    }
    @include for-tiny-tablet{
        padding: 0 8px;
        margin-top: 58px;
    }
    &__title{
        display: none;
        margin-bottom: vw(26);
        font-size: vw(22);
        line-height: vw(26);
        font-weight: 700;
        color: $blue;
        @include for-md{
            font-size: 18px;
            line-height: 22px;
        }
        @include for-tiny-tablet{
            display: block;

        }
    }
    &__subtitle{
        display: none;
        font-size: vw(17);
        line-height: vw(20);
        @include for-tiny-tablet{
            display: block;
        }
    }
    &__list{
        width: 68%;
        @include for-md{
            width: 100%;
        }
        @include for-tiny-tablet{
            margin-top: 35px;
        }
    }
    &__first-line{
        display: block;
        padding-bottom: vw(10);
        font-size: vw(28);
        font-weight: 700;
        line-height: vw(31);
        color: $blue;
        &::before{
            content: "";
            position: absolute;
            width: vw(16);
            height: vw(16);
            border-radius: 50%;
            border: vw(4) solid $blue;
            box-sizing: border-box;
            left: 3px;
            top: 5px;
            @include for-md{
                border-width: 4px;
                width: 16px;
                height: 16px;
            }
            @include for-tiny-tablet{
                border-width: 3px;
            }
        }
        @include for-md{
            font-size: 24px;
            line-height: 28px;
        }
        @include for-tiny-tablet{
            padding-bottom: 2px;
            font-size: 17px;
            line-height: 22px;
        }
    }
    &__list-item{
        position: relative;
        padding-left: vw(42);
        font-size: vw(24);
        line-height: vw(28);
        @include for-md{
            font-size: 18px;
            line-height: 24px;
            padding-left: 30px;
        }
        @include for-tiny-tablet{
            padding-left: 35px;
            font-size: 14px;
            line-height: 18px;
        }
    }
    &__list-item + &__list-item{
        margin-top: vw(45);
        @include for-tiny-tablet{
            margin-top: 34px;
        }
    }
    &--adaptive{
        display: none;
        @include for-md{
            display: block;
        }
    }
}
.about-img-containers{
    margin-top: vw(98);
    @include for-tiny-tablet{
        margin-top: 0;
    }
    &__title{
        margin-top: vw(55);
        margin-bottom: vw(43);
        display: block;
        font-size: vw(44);
        line-height: vw(48);
        font-weight: 700;
        color: $blue;
        // @include for-xl{
        //     font-size: 35px;
        // }
        @include for-tiny-tablet{
            margin-top: 63px;
            margin-bottom: 17px;
            font-size: 20px;
            line-height: 25px;
        }
    }
    p{
        margin-top: 0;
        font-size: vw(24);
        max-width: 730px;
        // @include for-xl{
        //     font-size: 18px;
        // }
        @include for-tiny-tablet{
            font-size: 16px;
            line-height: 27px;
        }
    }
}
.about-container + .about-container{
    margin-top: vw(78);
    @include for-tiny-tablet{
        margin-top: 47px;
    }
}

.button-up{
    display: none;
    position: fixed;
    left: vw(53);
    bottom: vw(20);
    z-index: 9000;
    cursor: pointer;
    transition: .3s;
    @include for-md(){
        left: 10px;
    }
    &:hover{
        opacity: .7;
    }

    &__container{
        display: flex;
        align-items: center;
    }
    &__icon{
        height: vw(70);
        width: vw(70);
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: vw(16);
        background: url(../images/upp-icon.png) center center no-repeat $light-blue;
        background-size: vw(22) vw(32);
        @include for-md(){
            height: 46px;
            width: 46px;
            background-size: 30%;
        }
    }
    &__text{
        font-size: vw(20);
        line-height: vw(25);
        color: $light-blue;
        font-weight: bold;
        @include for-md(){
            font-size: 15px;
            line-height: 18px;
        }
    }
}

.page-title{
    font-weight: 700;
    font-size: vw(48);
    line-height: vw(52);
    &--blue{
        color: $blue;
    }
    @include for-md{
        font-size: 38px;
        line-height: 42px;
    }
    @include for-lit-md{
        font-size: 28px;
        line-height: 32px;
    }
}
.stocks-page{
    margin-top: vw(94);
    margin-bottom: vw(196);
    padding-left: vw(170);
    &__title{
        margin-bottom: vw(105);
    }
    &__row{
        padding-bottom: vw(226);
    }
    @include for-lit-md{
        padding-left: 0;
    }
}
.stocks-item{
    display: flex;
    align-items: flex-start;
    @include for-lit-md{
        flex-direction: column;
    }
    &__text-container{
        width: 64%;
        @include for-lit-md{
           width: 100%;
        }
    }
    &__img-container{
        margin-right: vw(77);
        width: 36%;
        height: vw(427);
        @include for-md{
            height: 300px;
            margin-right: 40px;
        }
        @include for-lit-md{
            height: 320px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
        @include for-lit-mob{
            height: 200px;
        }
    }
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__title{
        padding-bottom: vw(43);
        font-weight: 700;
        font-size: vw(40);
        line-height: vw(44);
        @include for-md{
            padding-bottom: 20px;
            font-size: 28px;
            line-height: 32px;
        }
        @include for-tiny-mob{
            padding-bottom: 10px;
            font-size: 22px;
            line-height: 26px;
        }
        @include for-lit-mob{
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__text{
        font-size: vw(20);
        line-height: vw(28);
        @include for-md{
            font-size: 16px;
            line-height: 22px;
        }
        @include for-tiny-mob{
            font-size: 14px;
            line-height: 18px;
        }
        @include for-lit-mob{
            font-size: 12px;
            line-height: 16px;
        }
    }
    &__mark{
        padding-top: vw(20);
        font-size: vw(16);
        line-height: vw(28);
        @include for-md{
            font-size: 14px;
            line-height: 18px;
        }
        @include for-tiny-mob{
            font-size: 12px;
            line-height: 16px;
        }
        @include for-lit-mob{
            font-size: 10px;
            line-height: 14px;
        }
    }
}
.stocks-item + .stocks-item{
    margin-top: vw(128);
}
.vacancies{
    margin-top: vw(84);
    margin-bottom: vw(186);
    padding-left: vw(169);
    @include for-md{
        margin-top: 60px;
        margin-bottom: 120px;
        padding-left: 100px;
    }
    @include for-lit-md{
        margin-top: 20px;
        margin-bottom: 70px;
        padding: 0 15px;
    }
    @include for-tiny-mob{
        margin-bottom: 40px;
    }
    &__row{
        margin-top: vw(100);
        margin-bottom: vw(50);
        @include for-md{
            margin-top: 30px;
            margin-bottom: 20px;
        }
        @include for-lit-md{
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
}
.vacancies-item{
    &__title{
        margin-bottom: vw(33);
        font-weight: 700;
        font-size: vw(40);
        line-height: vw(40);
        color: $blue;
        @include for-md{
            margin-bottom: 20px;
            font-size: 28px;
            line-height: 32px;
        }
        @include for-lit-md{
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 28px;
        }
        @include for-tiny-mob{
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        // margin-right: vw(-20);
    }
    &__container{
        width: 50%;
        // padding-right: vw(30);
        box-sizing: border-box;
        margin-bottom: vw(48);
        @include for-md{
            width: 100%;
            margin-bottom: 30px;
        }
        @include for-lit-md{
            margin-bottom: 20px;
        }
    }
    &__item-title{
        margin-bottom: vw(30);
        font-size: vw(28);
        line-height: vw(28);
        font-weight: 700;
        @include for-md{
            font-size: 18px;
            line-height: 22px;
        }
        @include for-lit-md{
            font-size: 14px;
            line-height: 18px;
        }
        @include for-tiny-mob{
            font-size: 12px;
            line-height: 16px;
        }
    }
    &__list-item{
        font-size: vw(20);
        line-height: vw(28);
        @include for-md{
            font-size: 12px;
            line-height: 16px;
        }
        @include for-tiny-mob{
            font-size: 10px;
            line-height: 14px;
        }
        
    }
}
.vacancies-item + .vacancies-item{
    margin-top: vw(90);
    @include for-lit-md{
        margin-top: 20px;
    }
    @include for-tiny-mob{
        margin-top: 5px;
    }
}
.vacancies-appointment{
    margin-bottom: vw(120);
    text-align: center;
    @include for-md{
        margin-bottom: 60px;
    }
    @include for-tiny-mob{
        margin-bottom: 30px;
    }
    &__title{
        margin-bottom: vw(65);
        font-weight: 700;
        font-size: vw(44);
        line-height: vw(48);
        @include for-md{
            margin-bottom: 20px;
            font-size: 28px;
            line-height: 32px;
        }
        @include for-lit-md{
            font-size: 24px;
            line-height: 28px;
        }
        @include for-tiny-mob{
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__item + &__item{
        margin-top: vw(85);
        @include for-md{
            margin-top: 20px;
        }
        @include for-tiny-mob{
            margin-top: 10px;
        }
    }
    &__number{
        font-weight: 700;
        font-size: vw(54);
        line-height: vw(58);
        color: $light-blue;
        @include for-md{
            font-size: 28px;
            line-height: 32px;
        }
        @include for-lit-md{
            font-size: 24px;
            line-height: 28px;
        }
        @include for-tiny-mob{
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__text{
        margin-top: vw(10);
        font-weight: 700;
        font-size: vw(26);
        line-height: vw(30);
        @include for-md{
            font-size: 16px;
            line-height: 20px;
        }
        @include for-lit-md{
            font-size: 14px;
            line-height: 18px;
        }
        @include for-tiny-mob{
            font-size: 12px;
            line-height: 16px;
        }
    }
}


.modal-content{
    background-color: $white;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    h2{
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 20px;

    }

    h2 + p{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }

    input{
        max-width: 600px;
        display: block;
        margin: 0 auto 20px;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid rgba($black,.5);
        transition: .3s;
        &::placeholder{
            transition: .3s;
        }
        &:active::placeholder,&:focus::placeholder{
            opacity: 0;
        }
        &::placeholder:active{
            opacity: 0;
        }
    }

    &__button{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .b-modal_close{
        position: absolute;
        right: 15px;
        top: 15px;
        height: 61px;
        width: 61px;
        background: url(../images/close.png) center center no-repeat;
        cursor: pointer;
        transition: .3s;
        &:hover{
            opacity: .7;
        }
    }

}
